{% load static %}

<article class="post" id= "post-{{ post.id }}">
    <div class="post-header">
        <div class="post-author">
            <div class="author-avatar">
                {% if post.author.avatar %}
                    <img src= "{{ post.author.avatar.url }}">
                {% endif %}
                {% if not post.author.avatar %}
                    <img src="{% static 'images/profile/none_avatar.jpg' %}">
                {% endif %}
            </div>
            {% if post.author.nickname %}
                <h2>{{ post.author.nickname }}</h2>
            {% endif %}
            {% if not post.author.nickname %}
                <h2>{{ post.author.email }}</h2>
            {% endif %}
        </div>
        <div class= "three-dotes">
            {% if post.author == request.user and request.path == '/post/' %}
                <button type= "button" class= "delete-post" data-post-id= "{{ post.id }}" data-url="{% url 'post_delete' post.id %}">
                    Видалити
                </button>
            {% endif %}
        </div>
    </div>
    <div class="post-content">
        <div class="post-title">
            {% if post.title %}
                <p>{{ post.title }}</p>
            {% endif %}
        </div>
        {% if post.topic %}
            <p>{{ post.topic }}</p>
        {% endif %}
        {% if post.content %}
            <div class= "post-text">
                <p>{{ post.content }}</p>
            </div>
        {% endif %}
        <div class= "post-links">
            {% if post.links.all %}
                {% for link in post.links.all %}
                    <a href= "{{ link }}">{{ link }}</a>
                {% endfor %}
            {% endif %}
        </div>

    </div>
    <div class="post-images">
        {% if post.images.all %}
            {% for image in post.images.all %}
                <img src="{{ image.compressed_image.url }}">
            {% endfor %}
        {% endif %}
    </div>
</article>