{% extends "base.html" %}

{% load static %}

{% block meta %}
    <meta name= 'csrf-token' content="{{ csrf_token }}">
{% endblock %}

{% block title %}
    Authentication
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'user_app/css/user.css' %}">
    <link rel="stylesheet" href="{% static 'user_app/css/confirm.css' %}">
{% endblock %}

{% block content %}
    <div class="main-container">
        {% include 'user_app/particles/authenticate/form_registration.html' %}
        {% include 'user_app/particles/authenticate/form_login.html' %}
        {% include 'user_app/particles/authenticate/form_confirm.html' %}
    </div>
    <!-- background image -->
    <div class="background-image">
        <img src="{% static 'user_app/images/Auth-Background.png' %}" alt="">
    </div>
{% endblock %}

{% block scripts %}
    <script type="module" src="{% static 'user_app/js/auth.js' %}"></script>
    <script type="module" src="{% static 'user_app/js/register.js' %}"></script>
    <script type="module" src="{% static 'user_app/js/login.js' %}"></script>
    <script type="module" src="{% static 'user_app/js/confirm.js' %}"></script>
{% endblock  %}