{% extends "base.html" %}

{% load static %}


{% block links %}
    <link rel="stylesheet" href="{% static 'user_app/css/user.css'%}">
{% endblock %}


{% block header %}

{% endblock %}


{% block content %}
    <div class="main-container">
        <div class="links-container">
            <h2><a href="{% url 'registration' %}">Реєстрацiя</a></h2>
            <h2><a href="{% url 'login' %}">Авторизація</a></h2>        
        </div>
    
        <div>
            <h3>Радi тебе знову бачити!</h3>
        </div>
        <div class="form-container">
            <form action="" method= "post">
                {% csrf_token %}
                <div class='input-holder'>
                    <p>Електронна пошта</p>
                    <input type="email">
                </div>
                <div class='input-holder'>
                    <p>Пароль</p>
                    <input type="password">
                </div>
                <button>
                    Увiйти
                </button>

            </form>
        </div>
    </div>
{% endblock %}


{% block scripts %}

{% endblock %}

