{% extends "base.html "%}

{% load static %}

{% block meta %}
    <meta name= "csrf-token" content= "{{ csrf_token }}">
{% endblock %}

{% block title %}
    публікації {{ profile_user.nickname }}
{% endblock %}


{% block links %}
    <link rel="stylesheet" href="{% static 'post_app/css/post.css' %}">
    <link rel="stylesheet" href="{% static 'post_app/css/modal_post.css' %}">
    <link rel="stylesheet" href="{% static 'post_app/css/single_post.css' %}">
    <link rel="stylesheet" href="{% static 'user_app/css/friends.css' %}">
{% endblock %}

{% block profile_block %}
    <div class="profile-block">
        <div class= "back-friends-button">
            <a href="{% url 'friends' %}">Повернутися на головну</a>
        </div>
    </div>
    <div class= "profile-block">
        <div class="profile-container">
            <div class="profile-image">
                {% if profile_user.avatar %}
                    <img src= "{{ profile_user.avatar.url }}">
                    
                {% endif %}
                {% if not profile_user.avatar %}
                    <img src="{% static 'images/profile/none_avatar.jpg' %}">
                {% endif %}
            </div>
            <h1 class="nickname">{{ profile_user.nickname }}</h1>
            <p>{{ profile_user.username }}</p>

            <div class="profile-statistic">
                <div>
                    <h1>566</h1>
                    <p>Дописи</p>
                </div>
                <hr>
                <div>
                    <h1>12.1K</h1>
                    <p>Читачі</p>
                </div>
                <hr>
                <div>
                    <h1>222</h1>
                    <p>Друзі</p>
                </div>
            </div>

            <div class="profile-buttons">
                {% if friendship_status == "none" %}
                    <button class="full-button" data-redirect-url="{% url 'friends' %}" data-friend-action data-url="{% url 'friend_action' profile_user.id 'add' %}">
                        Додати
                    </button>
                
                    <button class="empty-button" data-redirect-url="{% url 'friends' %}" data-friend-action data-url="{% url 'friend_action' profile_user.id 'dismiss' %}">
                        Видалити
                    </button>
                
                {% elif friendship_status == "pending_sent" %}
                
                    <button class="full-button" disabled>
                        Очікування
                    </button>

                    <button class="empty-button" data-redirect-url="{% url 'friends' %}" data-friend-action data-url="{% url 'friend_action' profile_user.id 'delete' %}">
                        Відхилити
                    </button>
                
                {% elif friendship_status == "pending_received" %}
                
                    <button class="full-button" data-redirect-url="{% url 'friends' %}" data-friend-action data-url="{% url 'friend_action' profile_user.id 'accept' %}">
                        Підтвердити
                    </button>
                
                    <button class="empty-button" data-redirect-url="{% url 'friends' %}" data-friend-action data-url="{% url 'friend_action' profile_user.id 'delete' %}">
                        Відхилити
                    </button>
                
                {% elif friendship_status == "accepted" %}
                
                    <button class="full-button">
                        Повідомлення
                    </button>
                
                    <button class="empty-button" data-redirect-url="{% url 'friends' %}" data-friend-action data-url="{% url 'friend_action' profile_user.id 'delete' %}">
                        Видалити
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="post-list">

        {% include 'post_app/particles/list_post.html' with posts=posts %}

        <div id= "post-loader-line" style="width: 100%; height: 20px;"></div>
    </div>

{% endblock %}

{% block scripts %}
    <script type="module" src="{% static 'post_app/js/PostList.js' %}"></script>
    <script type="module" src="{% static 'user_app/js/friend_actions.js' %}"></script>
{% endblock %}