{% extends "base.html "%}

{% load static %}

{% block meta %}
    <meta name= "csrf-token" content= "{{ csrf_token }}">
{% endblock %}


{% block title %}
    Головна
{% endblock %}


{% block links %}
    <link rel="stylesheet" href="{% static 'home_app/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'home_app/css/first_login.css' %}">
    <link rel="stylesheet" href="{% static 'post_app/css/single_post.css' %}">
{% endblock %}


{% block header %}

{% endblock %}

{% block profile_block %}

    <div class= "profile-block">
        <div class="block-top">
            <div>
                <img class="icon" src="{% static 'images/header_logo/friends.png' %}">
                <p>Запити</p>
            </div>
            <div>
                <p><a href="">Дивитись всі</a></p>
            </div>
        </div>
        <div class="contact-list requests">
        {% for i in '123' %}
            <div class="contact">
                <div class="avatar">
                    <img src= "{% static 'home_app/images/Avatar.png' %}">
                </div>
                <div class="contact-text">
                    <h3>Mona Lisa</h3>
                    <p>10.3k підписників</p>
                </div>
            </div>
        {% endfor %}
        </div>

    </div>
    <div class= "profile-block">
        <div class="block-top">
            <div>
                <img class="icon" src="{% static 'images/header_logo/chat.png' %}">
                <p>Повідомлення</p>
            </div>
            <div>
                <p><a href="">Дивитись всі</a></p>
            </div>
        </div>
        <div class="contact-list messages">
        {% for i in '123' %}
            <div class="contact">
                <div class="avatar">
                    <img src= "{% static 'home_app/images/Avatar.png' %}">
                </div>
                <div class="contact-text">
                    <h3>Mona Lisa</h3>
                    <p>Привіт! Як справи?</p>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}


{% block content %}
    {% include 'home_app/particles/form_first_login.html' %}

    {% include 'post_app/particles/form_post_content.html' %}

    <div class= "post-list">
        {% include 'post_app/particles/list_post.html' %}
        <div class= "post-loader" id= "post-loader-line"></div>
    </div>
    
    
{% endblock %}


{% block footer %}

{% endblock %}

{% block scripts %}
    <script type="module" src="{% static 'home_app/js/home.js' %}"></script>
    <script type="module" src="{% static 'home_app/js/firstLogin.js' %}"></script>
    <script type="module" src="{% static 'post_app/js/postCreation.js' %}"></script>
    <script type="module" src="{% static 'post_app/js/deletePost.js' %}"></script>
    <script type="module" src="{% static 'post_app/js/PostList.js' %}"></script>
    
{% endblock %}

