<div class="form-container form-confirm" style="display: none;">
    <div class="title-text-confirm">
        <p>Підтвердження пошти</p>
    </div>
    
    <div class="text-info">
        <p class="confirm-info">Ми надіслали 6-значний код на вашу пошту (you@example.com). Введіть його нижче, щоб підтвердити акаунт</p>
    </div>
    
    <form id="confirm-form" action= "{% url 'confirm' %}" method= "post">
        {% csrf_token %}
        {{ form_confirm.as_p }}

        <div class= "boxes" id= "boxes">
            {% for box in '123456' %}
                <div class="box"></div>
            {% endfor %}
        </div>

        <button type="submit">Підтвердити</button>
    </form>

    <div class= "button-back">
        <p id="back">Назад</p>
    </div>
</div>

