@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    background-color: #FAF8FF;
    overflow: hidden;
}


h1 {
    font-size: 1.2rem;
}

p {
    font-size: 1rem;
}

.not-available {
    text-decoration: line-through !important;
}

*::-webkit-scrollbar {
    width: 0.5vw;
    height: 90%;
}
*::-webkit-scrollbar-track {
    background: #E9E5EE;
    border-radius: 5px;
    height: 90%;
    cursor: pointer;
}
*::-webkit-scrollbar-thumb {
    background: #543C52;
    border-radius: 5px;
    cursor: pointer;
}



header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    z-index: 5;
    top: 0;

    width: 100vw;
    background-color: rgb(255, 255, 255);
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    max-width: 1440px;
    height: 8.14vh;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 55vw;
    height: 3.7vh;
    align-items: center;
}

.links p {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    color: #070A1C;
} 

.links a {
    padding: 0.5vw;
    display: flex;
    border-radius: 3px;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}


.icon {
    height: 2.5vh;
}

.logo {
    display: flex;
    align-items: center;
    padding: 0.5vw;
}

.exit-link {
    border: 1px solid #543C52;
    border-radius: 100vw !important;
}


/*  */


.content {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */

    margin-top: 7vh;
    width: 100vw;
    max-width: 1440px;
    

    padding-top: 2vh;
    gap: 1vw;
}

.side-panel {
    display: flex;
    flex-direction: column;
    width: 20vw;
    gap: 1vh;
    
}

.profile-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1vw;
    background-color: white;
    border: 1px solid #CDCED2;
    border-radius: 10px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.7vh;
}

.profile-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8.88vh;
    width: 8.88vh;
    border-radius: 1234px;
    overflow: hidden;
}


.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nickname {
    font-size: 1.5rem;
    font-weight: 900;
}

.profile-statistic {
    display: flex;
    flex-direction: row;
    gap: 1.5vw;
}

.profile-statistic div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

.profile-statistic h1 {
    font-weight: 900;
}
.nickname {
    text-align: center;
    max-width: 200px;
}



.profile-statistic p {
    color: #81818D;
}

.block-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.block-top div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
}

.right-container {
    display: flex;
    flex-direction: column;
    flex: 1;

    height: 90vh;
    
    gap: 1vh;
    overflow-y: auto;
}
.right-container::-webkit-scrollbar {
    display: none;
}
