{% load static %}

<div id="create_groups_modals" class="modal-background">

    <form>

        <div class = 'create-group-container modal-1' id = "create_group_1">
            <nav class="close-modal">
                <img id= "close_modal_button" src = "{% static 'chat_app/images/close.png' %}">
            </nav>
            <h1>Нова група</h1>
            <div class="search-contact-2">
                <input type="text" placeholder="Пошук">
            </div>
            <p>Вибрано: 3</p>
            <div class="friends-list">
                {% for contact in contacts.users %}
                <hr>
                <div class = "contact contact-for-group">
                    <div class= "contact-info">
                        <div class = "contact-avatar">
                            {% if contact.avatar %}
                                <img src="{{ contact.avatar.url }}" alt="">
                            {% else %}
                                <img src="{% static 'images/profile/none_avatar.jpg' %}" alt="">
                            {% endif %}
                        </div>
                        <h2>{{ contact.nickname }}</h2>
                    </div>
                    <input type = "checkbox" class = "select-contact">
                </div>
                {% endfor %}
            </div>
            <div class="create-group-buttons">
                <button type="button" class="empty-button">Скасувати</button>
                <button type="button" class="full-button">Далі</button>
            </div>
        </div>


        <div class="create-group-container modal-2" id = "create_group_2">
            <nav class="close-modal">
                <img src = "{% static 'chat_app/images/close.png' %}">
            </nav>
            <h1>Нова група</h1>
            <div class="set-group-name">
                <p>Назва</p>
                <input type="text" placeholder="Введiть назву">
            </div>
            <div class="set-group-avatar">
                <div class="group-avatar">
                    <img src="" alt="">
                </div>
                <div class="group-avatar-buttons">
                    <button type="button">
                        <img src="{% static 'chat_app/images/add.png' %}" alt="">
                        Додайте фото
                    </button>
                    <button type="button">
                        <img src="{% static 'chat_app/images/image.png' %}" alt="">
                        Оберіть фото
                    </button>
                </div>

            </div>

            <div>
                <p>Учасники</p>
                <div class="selected-members">
                    {% for member in '123' %}
                        <div class="member-holder">
                            <div class = "contact-avatar">
                                <img src = "{% static '{{ contact.avatar }}' %}">
                            </div>
                            <h2>Ashan</h2>

                            <label for="">
                                <img src="{% static 'chat_app/images/delete.png' %}" alt="">
                                <input type = "checkbox" class = "select-contact">
                            </label>
                        </div>
                    {% endfor %}
                </div>

                <div class="create-group-buttons">
                    <button type="button" class="empty-button">Назад</button>
                    <button type="submit" class="full-button">Створити групу</button>
                </div>

            </div>

        </div>

    </form>




</div>




