{% extends "base.html "%}

{% load static %}

{% block title %}
    Друзі
{% endblock %}


{% block links %}
    <link rel="stylesheet" href="{% static 'friends_app/css/friends.css' %}">
{% endblock %}


{% block header %}

{% endblock %}

{% block profile_block %}
    <div class="side-panel-links">
        <h3><a href="">Головна</a></h3>
        <h3><a href="">Запити</a></h3>
        <h3><a href="">Рекомендації</a></h3>
        <h3><a href="">Всі друзі</a></h3>
    </div>
{% endblock %}

{% block content %}
    <h1>Сторінка Друзі</h1>
{% endblock %}


{% block footer %}

{% endblock %}

{% block scripts %}

{% endblock %}

