<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block meta %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
        {% block links %}{% endblock %}
        <link rel="stylesheet" href= "{% static 'css/base.css' %}">
    </head>
    <body>


        <!-- ШАПКА СТОРІНОК -->
        <header>
            <nav class= "header">
                <a class="logo" href="{% url 'home' %}">
                    <img class="icon" src="{% static 'images/header_logo/logo.png' %}">
                </a>
                
                <div class="links">
                    <a href="{% url 'home' %}">
                        <img class= "icon" src="{% static 'images/header_logo/home.png' %}">
                        <p>Головна</p>
                    </a>
                    
                    <a href="{% url 'post' %}">
                        <img class="icon" src="{% static 'images/header_logo/post.png' %}">
                        <p>Мої публікації</p>
                    </a>
                    
                    <a href="{% url 'friends' %}">
                        <img class="icon" src="{% static 'images/header_logo/friends.png' %}">
                        <p>Друзі</p>
                    </a>
                    
                    <a>
                        <img class= "icon" src="{% static 'images/header_logo/chat.png' %}">
                        <p class="not-available">Чати</p>
                    </a>
                
                    <a href="{% url 'settings' %}">
                        <img class= "icon" src="{% static 'images/header_logo/settings.png' %}">
                        <p>Налаштування</p>
                    </a>
                
                    <a class="exit-link">
                        <img class= "icon" src="{% static 'images/header_logo/exit.png' %}">
                        <p class="not-available">Вихід</p>
                    </a>
                </div>
                
            </nav>
            {% block header %}
            {% endblock %}
        </header>


        <!-- ВЕСЬ КОНТЕНТ (БОКОВА ПАНЕЛЬ Й ПРАВИЙ КОНТЕЙНЕР) -->
        <main class= "content">

                <!-- БОКОВА ПАНЕЛЬ -->
                <div class="side-panel">

                    {% if request.path == '/' or request.path == '/post/' %}
                        <div class= "profile-block">
                            <div class="profile-container">
                                <div class="profile-image">
                                    <img src="{% static 'images/profile/linali.png' %}">
                                </div>
                                <h1>Lina Li</h1>
                                <p>@thelili</p>
                                <div class="profile-statistic">
                                    <div>
                                        <h1>566</h1>
                                        <p>Дописи</p>
                                    </div>
                                    <hr>
                                    <div>
                                        <h1>12.1K</h1>
                                        <p>Читачі</p>
                                    </div>
                                    <hr>
                                    <div>
                                        <h1>222</h1>
                                        <p>Друзі</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endif %}

                    {% block profile_block %}{% endblock %}
                </div>

                <div class ="right-container">
                    {% block content %}{% endblock %}
                </div>
            

        </main>
        <footer>
            {% block footer %}{% endblock %}
        </footer>

            <script src = "{% static 'js/lightningLinks.js' %}">
            </script>
            {% block scripts %}{% endblock %}
    </body>
</html>