body {
    background-color: #E9E5EE !important;
}

h3 {
    font-size: 1.5rem;
    
}

.header-content {
    justify-content: center !important;
}

.main-container {
    position: absolute;
    top: 25vh;
    left: 24vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 3.75vh;
    padding: 4.6vh 3vw;
    
    width: 27vw;
    height: fit-content;
    
    background-color: white;
    border-radius: 20px;
    
}

.links-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.links-container a {
    font-size: 2rem;
}

.auth-links .active {
    color: black;
    text-decoration: underline;
    text-underline-offset: 1.5vh;
    text-decoration-thickness: 2px;
}

.auth-links .inactive {
    color: #81818D;
}

.input-holder {
    display: flex;
    flex-direction: column;

    width: 27.8vw;
    gap: 0.6vh;
}

.input-holder input {
    height: 4.4vh;
    border: 1px solid #CDCED2;
    border-radius: 10px;
    
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh 0vw;

    height: 5.4vh;
    background-color: #543C52;
    border-radius: 1234px;
    color: white;
    font-size: 1rem;
}

.auth-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.auth-links span {
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 3.75vh;
    width: 100%;
}

.title-text p {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.7vh;
}

form p {
    display: flex;
    flex-direction: column;
    gap: 0.6vh;
}

form label {
    font-size: 1rem;
    font-weight: 400;
}

form input {
    height: 4.4vh;
    border: 1px solid #CDCED2;
    border-radius: 10px;
    padding: 1vh 1.1vw;
}

.background-image {
    position: absolute;
    top: 27vh;
    left: 47vw;
    z-index: -1;
}

.background-image img {
    height: 54.8vh;
}
