{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}

{% block title %}Створення публікації{% endblock %}

{% block content %}
    <h1>Створення публікації</h1>

    <div id="post-errors"></div>
    
    <form id="post-create-form" method="post" action="{% url 'post_create' %}">
        {% csrf_token %}

        {{ form.as_p }}

        <p>Посилання</p>
        <div id="links-list">
            <input type="url" name="links" placeholder="https://example.com">
        </div>

        <button type="button" id="add_link">+</button>

        <p>
            <button type="submit">Публікація</button>
        </p>
    </form>

    <p><a href="{% url 'post_list' %}">До всіх публікацій</a></p>
{% endblock %}    

{% block scripts %}
    <script src="{% static 'post_app/js/post_create.js' %}"></script>
{% endblock %}